.btn{
    margin: 5px;
    padding: 10px;
    border: 0;
    border-radius: 10px;
}

.btn-menu{
    width: 20%;
    background: #FFBB50;
    color: white;
}
.btn-menu:hover{
    background: #FF8820;
}


.btn:hover{
    cursor: pointer;
}
